
@model AssociatePayroll.Core.Models.Master.tbl_GSTMaster

<div class="row">


    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.GstMasterId)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.GstMasterId)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.EffectiveDate)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.EffectiveDate)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.StateName)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.StateName)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.GstNumber)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.GstNumber)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PanNumber)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.PanNumber)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.TanNumber)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.TanNumber)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.CGST_Applicable)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.CGST_Applicable)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.CGST_Percentage)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.CGST_Percentage)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SGST_Applicable)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.SGST_Applicable)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SGST_Percentage)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.SGST_Percentage)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.UTGST_Applicable)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.UTGST_Applicable)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.UTGST_Percentage)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.UTGST_Percentage)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.IGST_Applicable)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.IGST_Applicable)
        </div>
    </div>

    

    <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-12">
            @Html.LabelFor(model => model.IGST_Percentage)
        </div>
        <div class="col-md-6 col-sm-12">
            @Html.DisplayFor(model => model.IGST_Percentage)
        </div>
    </div>

    
    
</div>

